@model PagedList.IPagedList<LojaOnline.Models.Produto>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

@if (TempData["Sucesso"] != null)
{
    <p class="alert alert-success" id="Mensagem">@TempData["Sucesso"]</p>
}

<p>
    <button type="button" style="margin-left:20px; margin-bottom:-56px" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Create", "Produtos")'">Novo Produto</button>
</p>

@using (Html.BeginForm("Index", "Produtos", FormMethod.Get))
{
    <p style="margin-left:460px">
        Pesquisar por nome: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Pesquisar" class="btn btn-default btn-primary" />
        @Html.ActionLink("Limpar", "Index", new { SearchString = "" }, new { @class = "btn btn-default" })
    </p>
}

<div class="row">
    <div class="col-md-10">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Html.ActionLink("Nome", "Index", new {sortOder = ViewBag.Nome, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Preço", "Index", new { sortOder = ViewBag.Preco, currentFilter = ViewBag.CurrentFilter })</th>
                        @*<th>@Html.ActionLink("Stock", "Index", new { sortOder = ViewBag.Preco, currentFilter = ViewBag.CurrentFilter })</th>*@
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content(item.Imagem)" height="60" width="60" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)€
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ProdutoID }) |
                            @Html.ActionLink("Apagar", "Delete", new { id = item.ProdutoID })
                        </td>
                    </tr>
                }

            </table>
            <br />
           
            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>
