@model LojaOnline.Models.ProdutoItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdutoItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroSerie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.produtoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
